@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --background-color:#eee4db;
    --color-principal:rgb(218, 127, 61);
    --color-texto:rgb(40, 39, 39);
    --color-hover:rgb(11, 11, 11);
    --color-titulo:rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--background-color);
}

/*Encabezado*/
header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    color: var(--color-texto);
    background-color: var(--background-color);
    
}
header .contenedor{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;

}

/*LOGO*/
header .logo{
    display: flex;
    align-items: center;
}
header .logo ion-icon{
    font-size: 35px;
    color: var(--color-principal);
    margin-right: 5px;
}
header .logo span{
    font-size: 25px;
    font-weight: 600;
    color: var(--color-titulo);
}

/*Menú opciones*/
header .menu-opciones{

    background-color: var(--background-color);
    height: auto;
}
header .menu-opciones ul{

    display: flex;
    flex-direction: row;
}
header .menu-opciones li{
    list-style: none;
    margin: 15px;
}
header .menu-opciones a{
    color: var(--color-texto);
    text-decoration: none;
    transition: color 0.2s ease;
}
header .menu-opciones a:hover{
    color: var(--color-principal);
}

/*Controles usuario*/
header .controles-usuario{

    display: flex;
    gap: 20px;
    align-items: center;
    order: 1;
}
header .controles-usuario ion-icon{
    font-size: 25px;
    cursor: pointer;
    color: var(--color-principal);
}
header .controles-usuario ion-icon:hover{
    color: var(--color-hover);
}

header #btn-sign-up{
    border: none;
    cursor: pointer;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-principal);
    color: var(--color-texto);
    font-size: 15px;
}
header #btn-sign-up:hover{
    background-color:#f8bb83 ;
}

header #btn-menu{
    display: none;
}

header #home{
    color: var(--color-principal);
}


/*Main*/
main{
    margin-top: 80px;
}
main .seccion-1 {
    max-width: 11280px;
    position: relative;
    top: -30px;
    margin: 0 auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(
        180deg, rgba(190, 190, 205, 0.01), #cfc3c3),
         url(../Imagenes/animales1.jpg)no-repeat center center ;
         background-size: cover;
}
main .seccion-1 .texto{
    color: rgb(39, 39, 39);
    font-size: 5.1vw;
    font-weight: 600;
    line-height:4.2vw;
    width: 40vw;
}

main .seccion-1 .titulo-principal {
    color: var(--color-titulo);
    font-size: 4vw; /* Tamaño del texto que se ajusta al ancho de la pantalla */
    font-weight: 700; /* Estilo negrita */
    text-align: center; /* Centra el texto */
    margin-bottom: 2%; /* Espacio debajo del título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra sutil para mejorar la legibilidad */
}

main .seccion-1 img{
    width: 40vw;
}

/* Estilos para el formulario de búsqueda */
main .seccion-1 form {
    display: flex;
    flex-direction: column; /* Asegura que el botón esté debajo del input */
    align-items: center; /* Centra el contenido horizontalmente */
    gap: 10px; /* Espacio entre el input y el botón */
    width: 100%;
    max-width: 600px; /* Limita el ancho del formulario */
    gap: 10px;
}

/* Estilo del input */
main .seccion-1 input[type="text"] {
    width: 100%;
    padding: 15px; /* Aumentado para un input más grande */
    border: 2px solid var(--color-principal);
    border-radius: 8px;
    font-size: 18px; /* Aumentado para mejor legibilidad */
    color: var(--color-texto);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    line-height: 12%;
}

main .seccion-1 input[type="text"]::placeholder {
    color: #888;
    font-style: oblique;
}

main .seccion-1 input[type="text"]:focus {
    border-color: var(--color-hover);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Estilo del botón */
main .seccion-1 button.btn-1 {
    padding: 15px 30px; /* Aumentado para un botón más grande */
    border: none;
    border-radius: 8px;
    align-items: center;
    background-color: var(--color-principal);
    color: var(--color-texto);
    font-size: 17px; /* Aumentado para mejor legibilidad */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible del formulario */
    max-width: 200px; /* Limita el ancho máximo del botón */
    margin-top: 10px;
}

main .seccion-1 button.btn-1:hover {
    background-color: #f8bb83;
    transform: scale(1.05);
}

main .seccion-1 button.btn-1:focus {
    outline: none;
}

.about {
    padding: 80px 20px; /* Reduce el relleno en pantallas pequeñas */
    background-color: #f2e0d5; /* Cambia el color de fondo a un tono más claro */
}

.about-content {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna para dispositivos pequeños */
    align-items: center; /* Centra el contenido */
    text-align: center;
}

.about-1, .about-2 {
    width: 100%;
    max-width: 900px; /* Limita el ancho máximo para mejor presentación en pantallas grandes */
    margin-bottom: 40px; /* Espacio entre secciones */
}

.about-1 h3, .about-2 h3 {
    font-size: 2rem; /* Ajusta el tamaño del texto */
    color: var(--color-texto);
    margin-bottom: 20px; /* Espacio debajo del título */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    font-weight: 600; /* Negrita */
}

.about-1 p, .about-2 p {
    font-size: 1rem; /* Tamaño de fuente ajustado */
    color: #6c6c6c; /* Color gris más claro */
    line-height: 1.6; /* Mejora la legibilidad */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
}

.about-2 {
    width: 100%;
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre los elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en la fila si el espacio es insuficiente */
}

.about-img {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.about-img img {
    width: 110px;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.about-txt {
    text-align: left; /* Alinea el texto a la izquierda */
}
.about-txt h4 {
    font-size: 1.2rem; /* Tamaño de fuente ajustado */
    color: var(--color-texto);
    margin-bottom: 5px; /* Espacio debajo del nombre */
}

.about-txt p {
    line-height: 10%;
    font-size: 0.9rem; /* Tamaño de fuente ajustado */
    color: #838288; /* Color gris */
}

/* Responsive Styles */
@media (max-width: 800px) {
    .about-content {
        flex-direction: column; /* Ajusta la dirección del flex en pantallas más pequeñas */
    }

    .about-1, .about-2 {
        max-width: 100%; /* Ajusta el ancho máximo en pantallas pequeñas */
    }
}

/*Responsive*/
@media (max-width: 865px){

    header #btn-menu{
        display: block;
    }
    header .menu-opciones{
        height: 0;
  
        overflow: hidden;
        border-bottom: 2px solid var(--color-principal);
        transition: height 0.5s ease;
    }
    header .menu-opciones.mostrar{
        height: 320px;
    }
    header .menu-opciones.min{
        height: calc(100vh - 80px);
        overflow-y: auto;
    }
    header .menu-opciones ul{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:325px){
    header .logo ion-icon{
        display: none;
    }
    header .logo span{
        font-size: 20px;
    }
}


/* Responsive Styles for Header */
@media (max-width: 865px) {
    header #btn-menu {
        display: block;
    }
    header .menu-opciones {
        height: 0;
        overflow: hidden;
        border-bottom: 2px solid var(--color-principal);
        transition: height 0.5s ease;
    }
    header .menu-opciones.mostrar {
        height: 280px;
    }
    header .menu-opciones.min {
        height: calc(100vh - 80px);
        overflow-y: auto;
    }
    header .menu-opciones ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 325px) {
    header .logo ion-icon {
        display: none;
    }
    header .logo span {
        font-size: 20px;
    }
}

/* Responsive Styles for Main Section */
@media (max-width: 1000px) {
    main .seccion-1 .titulo-principal{
        position: relative;
        top: -40px;
        font-size: 2.5rem;
        width: 100%;
        line-height: 1.3;
        margin-top: 10px;
        text-align: center;
        padding: 20px; /* Añade un poco de espacio alrededor en pantallas más pequeñas */
    }
    main .seccion-1 .texto {
        text-align: center;
        width: 100%; /* Asegúrate de que el texto ocupe todo el ancho disponible */
        margin-top: 20px;
        font-size: 3vw; /* Ajusta el tamaño del texto según el ancho de la pantalla */
    }
    main .seccion-1 img {
        width: 100%; /* Ajusta la imagen para que se ajuste al ancho disponible */
        height: auto; /* Mantiene la relación de aspecto de la imagen */
    }
}

@media (max-width: 615px) {
    main .seccion-1 .titulo-principal{
        position: relative;
        top: -40px;
        padding: 10px; /* Reduce el espacio alrededor en pantallas muy pequeñas */
        font-size: 2.5rem;
        margin-top: 10px;
        line-height: 1.4;
        text-align: center;
    }
    main .seccion-1 .texto {
        font-size: 2.5vw; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }
    main .seccion-1 img {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    }
    .about {
        padding: 50px 10px; /* Reduce el relleno para pantallas pequeñas */
        background-color: #e5e5e5;
    }
    .about-content {
        flex-direction: column; /* Cambia la dirección del flex para dispositivos más pequeños */
        align-items: center;
    }
    .about-1, .about-2 {
        width: 100%; /* Asegura que los contenedores ocupen todo el ancho disponible */
    }
    h3, h4 {
        font-size: 20px; /* Ajusta el tamaño de las fuentes para pantallas pequeñas */
        text-align: center; /* Centra el texto */
    }
    p {
        font-size: 14px; /* Ajusta el tamaño de la fuente para mejor legibilidad */
        text-align: center; /* Centra el texto */
        padding-left: 0; /* Elimina el relleno a la izquierda */
    }
    .about-img {
        flex-direction: column; /* Alinea las imágenes verticalmente en pantallas pequeñas */
        align-items: center;
        margin-bottom: 50px;
    }
    .about-img img {
        width: 80px; /* Ajusta el tamaño de las imágenes */
    }
    .about-txt {
        padding-left: 0; /* Elimina el relleno a la izquierda */
        text-align: center; /* Centra el texto */
    }
}
